@use '@styles/variables' as var;
@use '@styles/functions' as fn;
@use '@styles/mixins' as mix;

$transparentWhite: rgba(
  $color: var.$mainTextColor,
  $alpha: 0.72,
);

.movieParams {
  display: flex;
  flex-direction: column;
  gap: fn.toRem(4px);
  font-size: fn.toRem(15px);
}

.paramList {
  color: $transparentWhite;
  display: flex;
  align-items: center;
  justify-content: center;

  & > *:not(:first-child)::before {
    content: '';
    margin-left: fn.toRem(8px);
  }
}

.withBetweenPoints {
  & > *:not(:first-child)::before {
    @include mix.betweenPoints(fn.toRem(6px));
  }
}

.date,
.country,
.genre {
  color: inherit;
  transition-duration: 0.4s;

  &:hover {
    color: var.$mainTextColor;
  }
}

.volumeContainer {
  $size: fn.toRem(15px);

  width: $size;
  height: $size;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.volume {
  width: 100%;
  height: auto;
}
