@use '../../styles/functions' as fn;

.subscriptionWidget {
  display: flex;
  flex-direction: column;
  width: fn.toRem(244px);
}

.animation {
  position: relative;
  border-radius: fn.toRem(8px);
  overflow: hidden;
  background-color: #312b45;
  margin-bottom: fn.toRem(24px);
}

.posterBlock {
  margin-top: fn.toRem(16px);
  margin-bottom: fn.toRem(16px);
  transform: translateY(fn.toRem(-64px));
}

.posterLane {
  display: flex;
  margin-top: fn.toRem(8px);
  width: fn.toRem(408px);
  height: fn.toRem(72px);
  transition-duration: 0.3s;

  animation-name: horizontalScrolling;
  animation-timing-function: linear;
  animation-play-state: running;
  animation-iteration-count: infinite;

  & > * {
    margin-left: fn.toRem(8px);
  }
}

.posterLane:nth-child(odd) {
  animation-direction: normal;
  animation-duration: 36s;
}

.posterLane:nth-child(2n) {
  animation-direction: reverse;
  animation-duration: 36s;
}

.image {
  border-radius: fn.toRem(8px);
}

.bottomPanel {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  padding-top: fn.toRem(8px);
  padding-bottom: fn.toRem(12px);
  background-color: rgba(49, 43, 69, 0.96);
  transition-property: height;
  transition-duration: 0.3s;
  pointer-events: auto;

  &:hover {
    height: fn.toRem(140px);
  }

  &:not(:hover) {
    height: fn.toRem(72px);
  }
}

.bottomFade {
  position: absolute;
  height: 48px;
  left: 0;
  right: 0;
  top: -48px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 43, 69, 0),
    rgba(49, 43, 69, 0.96)
  );
}

.detailsBlock {
  display: flex;
  justify-content: center;
  background: transparent;
}

.badgeBrand {
  width: fn.toRem(48px);
  height: fn.toRem(48px);
  border-radius: fn.toRem(8px);
  background-color: #ea003d;
}

.detailsTextBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: fn.toRem(12px);
}

.detailsTitle {
  font-size: fn.toRem(20px);
  line-height: fn.toRem(24px);
  font-weight: 700;
  height: fn.toRem(24px);
  white-space: nowrap;
  color: #fff;
}

.detailsExtra {
  margin-top: fn.toRem(4px);
  font-size: fn.toRem(13px);
  line-height: fn.toRem(16px);
  font-weight: 400;
  height: fn.toRem(16px);
  color: #d9d7e0;
}

.bottomHover {
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: 0.4s;
  transition-property: opacity;
  width: 100%;
  padding: 0 20px;

  &:hover {
    opacity: 1;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
}

.note {
  margin-top: 12px;
  color: #a5a1b2;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  text-overflow: ellipsis;
  transition-property: opacity, transform;
  white-space: nowrap;

  &:hover {
    opacity: 1;
  }
}

@keyframes horizontalScrolling {
  0% {
    transform: translateZ(0);
  }

  100% {
    transform: translate3d(-408px, 0, 0);
  }
}
