@use '../../styles/functions' as fn;

.appLayout {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1216px;
  margin-inline: auto;
  padding-left: fn.toRem(20px);
  padding-right: fn.toRem(20px);
}
