.appLayout {
  max-width: 1216px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: 1216px) {
    max-width: 970px;
  }

  @media (max-width: 992px) {
    max-width: 750px;
  }

  @media (max-width: 767px) {
    max-width: none;
  }
}
