.badge {
  color: #d9d7e0;
}

.imagePersonWrapper {
}

.medium {
  width: 88px;
  height: 88px;
}

.circle {
  border-radius: 50%;
  overflow: hidden;
}

.textSection {
  margin-top: 8px;
  overflow: hidden;

  &.medium {
    max-width: 88px;
    height: fit-content;
  }
}

.additional {
  color: #a5a1b2;
}
