.button {
  background: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #ffffff;
  transition-duration: 0.4s;

  img {
    display: flex;
    align-items: center;
  }

  svg {
    transition-duration: 0.4s;
  }
}

.primary {
  height: 32px;
  padding: 7px 11px;
  background-image: linear-gradient(270deg, #ea003d 0, #c447ff 100%);

  .mainText {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
  }
}

.primaryMob {
  background-color: #312b45;
  border-color: #312b45;
  height: 32px;
  padding: 7px 11px;
}

.secondary {
  height: 40px;
  background-color: #ea003d;
  padding: 9px 15px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.secondary,
.player {
  &:hover {
    background-color: #ff0f4d;
  }
}

.player {
  border-color: transparent;
  background-color: rgba(234, 0, 61, 0.8);
  color: #fff;
  height: 48px;
  padding: 5px 15px;

  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  width: 320px;

  transition-property: border-color, background-color;
}

.free,
.share,
.defer,
.trailer {
  height: 40px;
  padding: 9px 15px;
  background-color: #312b45;
  border-color: #312b45;

  .mainText {
    margin-left: 6px;
  }

  .mainText {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
  }

  &:hover {
    background-color: #3a3352;
  }
}

.share {
  img {
    transform: rotate(-90deg);
  }
}

.subText {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.72);
}

.signIn {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  padding: 12px;
  border: solid 2px rgba(255, 255, 255, 0.48);

  svg {
    fill: rgba(255, 255, 255, 0.48);
  }

  &:hover {
    border: solid 2px #fff;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);

    svg {
      fill: #fff;
    }
  }
}

.search {
  height: 40px;
  padding: 10px 0;
  background-color: #100e19;
  color: rgba(255, 255, 255, 0.48);

  font-size: 15px;
  line-height: 20px;
  font-weight: 500;

  .icon {
    margin-right: 8px;

    svg {
      fill: rgba(255, 255, 255, 0.48);
    }
  }

  .mainText {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
  }

  &:hover {
    color: #fff;

    svg {
      fill: #fff;
    }
  }
}

.rateSm,
.rateMd {
  border-radius: 6px;
  padding: 3px 7px;

  border: 1px solid rgba(255, 255, 255, 0.32);

  .mainText {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
  }

  &:hover {
    border: 1px solid rgba(255, 255, 255, 1);
  }

  &:not(:hover) {
    transition-duration: 0.4s;
    transition-property: border;
  }
}

.rateSm {
  height: 24px;
}

.rateMd {
  height: 32px;
}

.filter {
  border-width: 0;
  padding: 10px 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;

  .mainText {
    margin-left: 6px;
  }

  &:hover {
    color: #ea003d;
  }
}

.language {
  svg {
    fill: rgba(255, 255, 255, 0.48);
  }
}
