@use '@styles/functions' as fn;

.label {
  display: flex;
  align-items: center;
  gap: fn.toRem(8px);
}

.description {
  flex-shrink: 0;
}

.input {
  width: 100%;
  padding: fn.toRem(7px);
  border-radius: fn.toRem(8px);
}
