@use '@styles/functions' as fn;

$rangeColor: #ffffff;
$rangeWidth: fn.toRem(48px);
$rangeTrackHeight: fn.toRem(4px);

.range {
  position: relative;
  width: $rangeWidth;
  height: fn.toRem(15px);
  background-color: transparent;
  cursor: pointer;

  &:hover .hoverRangeValue {
    opacity: 1;
  }
}

.rangeTrack {
  position: absolute;
  top: 50%;
  left: 0;
  width: $rangeWidth;
  height: $rangeTrackHeight;
  background-color: rgba($color: $rangeColor, $alpha: 0.32);
  border-radius: 2px;
  transform: translateY(-50%);
  z-index: -3;
}

.hoverRange {
  position: absolute;
  top: 50%;
  left: 0;
  width: $rangeWidth;
  height: $rangeTrackHeight;
  background-color: rgba($color: $rangeColor, $alpha: 0.4);
  border-radius: 2px;
  transform: translateY(-50%);
  z-index: -2;
}

.selectedRange {
  position: absolute;
  top: 50%;
  left: 0;
  width: $rangeWidth;
  height: $rangeTrackHeight;
  background-color: $rangeColor;
  border-radius: 2px;
  transform: translateY(-50%);
  z-index: -1;
}

.hoverRangeValue {
  position: absolute;
  top: fn.toRem(-8px);
  font-weight: 600;
  font-size: fn.toRem(10px);
  color: $rangeColor;
  opacity: 0;
  z-index: -1;
}
