.headerDropdown {
  display: none;
  flex-direction: column;
  height: 460px;
  background: #1f1b2e;
  border-radius: 12px;
  box-shadow: 0 20px 96px #12101b;
}

.headerDropdownActive {
  display: flex;
  flex-direction: column;
  height: 460px;
  background: #1f1b2e;
  border-radius: 12px;
  box-shadow: 0 20px 96px #12101b;
}

.headerDropdownBody {
  margin-top: 68px;
  padding: 32px;
  background-color: transparent;
  position: relative;

  &::after {
    background-color: hsla(0, 0%, 100%, 0.16);
    content: '';
    height: 1px;
    left: 8px;
    pointer-events: none;
    position: absolute;
    right: 8px;
    top: 0;
    transition-duration: 80ms;
    transition-property: background-color;
    z-index: 1;
  }
}

.doubleColumn {
  width: 33.33333333%;
}

.dropdownContent {
  display: flex;
  height: 328px;
}

.dropdownContent > * {
  padding-left: 12px;
  padding-right: 12px;
}

.singleColumn {
  width: 16.66666667%;
}

.singleColumn > *:not(:first-child) {
  margin-top: 24px;
}

.sideContent {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.sideContentWidget {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 244px;

  background-color: rgb(85, 35, 0);
}

.nativeScrollInner {
  overflow: hidden;
}
