.headerDropdown {
  display: none;
  flex-direction: column;
  background: #1f1b2e;
  border-radius: 12px;
  box-shadow: 0 20px 96px #12101b;
}

.headerDropdownActive {
  display: flex;
  flex-direction: column;
  background: #1f1b2e;
  border-radius: 12px;
  box-shadow: 0 20px 96px #12101b;
}

.headerDropdownBody {
  margin-top: 68px;
  padding: 32px 12px;
  background-color: transparent;
  position: relative;
  min-height: 392px;

  &::after {
    background-color: hsla(0, 0%, 100%, 0.16);
    content: '';
    height: 1px;
    left: 8px;
    pointer-events: none;
    position: absolute;
    right: 8px;
    top: 0;
    transition-duration: 80ms;
    transition-property: background-color;
    z-index: 1;
  }
}

.doubleColumn {
  width: 33.33333333%;
}

.dropdownContent {
  display: flex;
  min-height: 350px;
}

.dropdownContent > * {
  padding-left: 12px;
  padding-right: 12px;
}

.singleColumn {
  width: 16.66666667%;
}

.singleColumn > *:not(:first-child) {
  margin-top: 24px;
}

.sideContent {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-left: 0;
  padding-right: 0;
}

.sideContentFull {
  width: 100%;
}

.sideContentFull > .group {
  width: 17.5%;
  padding-left: 12px;
  padding-right: 12px;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group > :first-child {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.group > :last-child {
  display: flex;
  flex-direction: column;
}

.mainContentTv {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 32px;
  margin-left: 12px;
  border-left: 1px solid hsla(0,0%,100%,.16);

  .title {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 16px;
  }
}

.sideContentWidget {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 244px;
  margin-right: 12px;

  background-color: rgb(85, 35, 0);
}

.nativeScrollInner {
  overflow: hidden;
}
