.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #ffffff;
  transition-duration: 0.4s;

  img {
    display: flex;
    align-items: center;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    transition-duration: 0.4s;

    svg {
      fill: rgba(255, 255, 255, 0.48);
    }
  }
}

.transparent {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.72);

  &:hover {
    color: #fff;
    transition-duration: 0.4s;

    svg {
      fill: #fff;
      transition-duration: 0.4s;
    }
  }
}

.red {
  background-color: #ea003d;
  color: #fff;

  &:hover {
    background-color: #ff0f4d;
  }
}

.gray {
  background-color: #3a3352;
  color: #fff;

  &:hover {
    background-color: #494069;
  }
}

.primary {
  background-image: linear-gradient(270deg, #ea003d 0, #c447ff 100%);
}

.small {
  height: 32px;
  padding: 7px 11px;

  .mainText {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
  }
}

.middle {
  height: 40px;
  padding: 9px 15px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.big {
  height: 48px;
  padding: 5px 15px;

  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  width: 320px;

  transition-property: border-color, background-color;
}

.borderSm,
.borderMd {
  background: transparent;
  border-radius: 6px;
  padding: 3px 7px;
  border: 1px solid rgba(255, 255, 255, 0.32);

  .mainText {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
  }

  &:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    background: transparent;
  }

  &:not(:hover) {
    transition-duration: 0.4s;
    transition-property: border;
  }
}

.borderSm {
  height: 24px;
}

.borderMd {
  height: 32px;
}

.borderBg {
  height: 48px;
  border-radius: 8px;
  padding: 12px;
  border: solid 2px rgba(255, 255, 255, 0.48);

  &:hover {
    border: solid 2px #fff;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);

    svg {
      fill: #fff;
    }
  }
}

.onlyIcon {
  .icon {
    margin-right: 0;
  }

  &.big {
    width: 48px;
  }
}
