.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  transition-duration: 0.4s;
  transition-property: color, fill, border-color, background-color;
}
.button img {
  display: flex;
  align-items: center;
}
.button .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  transition-duration: 0.4s;
}

.active svg {
  fill: #fff;
}

.passive svg {
  fill: rgba(255, 255, 255, 0.72);
}

.active {
  color: #fff;
}

.passive {
  color: rgba(255, 255, 255, 0.72);
}

.transparent {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.72);
}
.transparent svg {
  fill: rgba(255, 255, 255, 0.72);
}
.transparent:hover {
  color: #fff;
}
.transparent:hover .icon svg {
  fill: #fff;
}

.red {
  background-color: #ea003d;
  color: #fff;
}
.red:hover {
  background-color: #ff0f4d;
}

.gray {
  background-color: #3a3352;
  color: #fff;
}
.gray:hover {
  background-color: #494069;
}

.primary {
  background-image: linear-gradient(270deg, #ea003d 0, #c447ff 100%);
}

.small {
  height: 2rem;
  padding: 0.4375rem 0.6875rem;
}
.small .mainText {
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 500;
}

.middle {
  height: 2.5rem;
  padding: 0.5625rem 0.9375rem;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.big {
  height: 3rem;
  padding: 0.3125rem 0.9375rem;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 20rem;
}

.borderSm,
.borderMd {
  background: transparent;
  border-radius: 0.375rem;
  padding: 0.1875rem 0.4375rem;
  border: 1px solid rgba(255, 255, 255, 0.32);
}
.borderSm .mainText,
.borderMd .mainText {
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 500;
}
.borderSm:hover,
.borderMd:hover {
  border: 1px solid white;
  background: transparent;
}
.borderSm:not(:hover),
.borderMd:not(:hover) {
  transition-duration: 0.4s;
  transition-property: border;
}

.borderSm {
  height: 1.5rem;
}

.borderMd {
  height: 2rem;
}

.borderBg {
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.75rem;
  border: solid 0.125rem rgba(255, 255, 255, 0.48);
}
.borderBg:hover {
  border: solid 0.125rem #fff;
  box-shadow: 0 0 0.9375rem rgba(255, 255, 255, 0.4);
}
.borderBg:hover svg {
  fill: #fff;
}

.full {
  width: 100%;
}

.onlyIcon .icon {
  margin-right: 0;
}
.onlyIcon.small {
  width: 2rem;
}
.onlyIcon.middle {
  width: 2.5rem;
}
.onlyIcon.big {
  width: 3rem;
}

.noneFields {
  margin: 0;
  padding: 0;
  height: auto;
}

.rating {
  height: 3.5rem;
  width: 3.5rem;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 0.75rem;
}
.rating > .mainText {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #73a32f;
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 0.5rem;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-weight: 500;
}
.rating .subText {
  display: none;
}
.rating:hover {
  background-color: rgba(255, 255, 255, 0.29);
}/*# sourceMappingURL=Button.module.css.map */