.profile {
  a {
    color: #ffffff;
  }
}

.title {
  margin-top: 24px;
}

.messages {
  width: 37%;
}

.controlsWrapper {
  width: 25%;
  padding-left: 12px;
  padding-right: 12px;
}

.controls > * {
  margin-bottom: 12px;
}

.socials {
  margin-top: 12px;
}
