@use '../../styles/functions' as fn;

.profile {
  padding: fn.toRem(36px) 0;

  a {
    color: #ffffff;
  }
}

.title {
  margin-top: fn.toRem(24px);
}

.messages {
  width: 37%;
}

.controlsWrapper {
  width: 25%;
  padding-left: fn.toRem(12px);
  padding-right: fn.toRem(12px);
}

.controls > * {
  margin-bottom: fn.toRem(12px);
}

.socials {
  margin-top: fn.toRem(12px);
  margin-bottom: fn.toRem(36px);
}
