@use '@styles/variables' as var;
@use '@styles/functions' as fn;

.movieQuality {
  font-size: fn.toRem(13px);
  padding: 2px 6px;
  background-color: rgba($color: var.$mainTextColor, $alpha: 0.16);
  box-shadow: 0 4px 12px transparent;
  border-radius: 4px;
  font-weight: 500;
  color: var.$mainTextColor;
}
