.selectButton {
  max-width: 280px;
  background-color: #312B45;
  height: 56px;
  color: #fff;
  padding: 8px 16px;
<<<<<<< HEAD
=======
  box-sizing: border-box;
>>>>>>> 535ccac (chore: selector button)
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  user-select: none;

  & > input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .content {
    width: 90%;
    padding-right: 16px;
<<<<<<< HEAD
=======
    box-sizing: border-box;
>>>>>>> 535ccac (chore: selector button)

    .name {
      font-size: 15px;
      line-height: 20px;
    }

    .selected {
      color: #a5a1b2;
<<<<<<< HEAD
=======
      //width: 100%;
>>>>>>> 535ccac (chore: selector button)
      font-size: 13px;
      line-height: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap
    }
  }
<<<<<<< HEAD
=======

  .arrow {
  }
>>>>>>> 535ccac (chore: selector button)
}

.selectButtonActive {
  background-color: #7E798F;

  img {
    transform: rotate(180deg);
  }
}

.selectButtonDisabled {
  background-color: #252035;
  cursor: default;

  div, img {
    opacity: 0.4;
  }
}

