@use '../../styles/functions' as fn;

.movieCard.small {
  max-width: 154px;
  display: block;

  .textBadge {
    font-size: fn.toRem(13px);
    font-weight: 700;
    color: white;
    background-color: #ff542e;
    box-shadow: 0 4px 12px rgba(255, 84, 46, 0.4);
    padding: fn.toRem(3px) fn.toRem(8px);
    border-radius: fn.toRem(50px);
    width: auto;
    position: absolute;
    top: fn.toRem(5px);
    left: fn.toRem(-5px);
    z-index: 1;
  }

  .ageBadge {
    bottom: fn.toRem(10px);
    right: fn.toRem(5px);
  }
}

.movieCard.big,
.movieCard.series {
  width: 100%;
  display: block;
  transition: 1s;

  .ageBadge {
    left: fn.toRem(24px);
    top: fn.toRem(20px);
  }
}

.movieCardImageCont {
  position: relative;
  transition: 0.2s ease-in-out;
}

.movieCard.series {
  .movieCardImageCont {
    transition: 0.3s ease-out;
  }
}

.movieCardImage {
  width: 100%;
  height: auto;
  border-radius: fn.toRem(10px);
  display: block;
}

.btnCont {
  position: absolute;
  left: fn.toRem(24px);
  bottom: fn.toRem(20px);
}

.movieInfo {
  opacity: 0;
  background: rgba(7, 5, 14, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s ease-in-out;
  border-radius: fn.toRem(16px);
}

.hoards {
  position: absolute;
  top: fn.toRem(16px);
  right: fn.toRem(16px);
  display: flex;
  flex-direction: column;
  gap: fn.toRem(10px);
  z-index: 1;
}

.ageBadge {
  width: 24px;
  height: 16px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: fn.toRem(4px);
  font-size: fn.toRem(10.5px);
  color: rgba(211, 211, 211, 0.6);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.favoriteBtn,
.dislikeBtn {
  background: transparent;
}

.movieCardInfo {
  margin-top: fn.toRem(8px);
}

.movieCardName {
  color: #d9d7e0;
  font-size: fn.toRem(15px);
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.movieCardType {
  color: #ea003d;
  font-size: fn.toRem(13px);
  font-weight: 400;
}

.movieCard.small:hover {
  .movieCardImageCont {
    transform: scale(1.05);

    .movieInfo {
      opacity: 1;
    }
  }
}

.movieCard.series:hover {
  .movieCardImageCont {
    transition: all 0.1s ease;
    transform: scale(1.05);
  }

  .seriesName {
    color: white;
  }
}

.seriesInfo {
  margin-top: fn.toRem(12px);
}

.seriesName {
  color: #d9d7e0;
  transition-duration: 0.4s;
  font-size: fn.toRem(15px);
  line-height: fn.toRem(20px);
  font-weight: 500;
  font-style: normal;
}

.seriesDescription {
  font-size: fn.toRem(13px);
  line-height: fn.toRem(16px);
  font-weight: 400;
  font-style: normal;
  max-height: 64px;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
  color: #a5a1b2;
  margin-top: fn.toRem(4px);
}

.seriesLength {
  margin-right: 10px;
  color: #a5a1b2;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 4px;
}
