.movieCard.small {
  width: 9.625rem;
  display: block;
}
.movieCard.small .textBadge {
  font-size: 0.8125rem;
  font-weight: 700;
  color: white;
  background-color: rgb(255, 84, 46);
  box-shadow: 0 0.25rem 0.75rem rgba(255, 84, 46, 0.4);
  padding: 0.1875rem 0.5rem;
  border-radius: 3.125rem;
  position: absolute;
  top: 0.3125rem;
  left: -0.3125rem;
  z-index: 1;
}
.movieCard.small .ageBadge {
  bottom: 0.625rem;
  right: 0.3125rem;
}

.movieCard.big,
.movieCard.series {
  width: 100%;
  display: block;
}
.movieCard.big .ageBadge,
.movieCard.series .ageBadge {
  left: 1.5rem;
  top: 1.25rem;
}

.movieCardImageCont {
  position: relative;
  transition: 0.2s ease-in-out;
  width: 100%;
  height: 14.6875rem;
  border-radius: 0.625rem;
}

.movieCard.series .movieCardImageCont {
  transition: 0.3s ease-out;
}

.movieCardImage {
  border-radius: 0.625rem;
  display: block;
}

.btnCont {
  position: absolute;
  left: 1.5rem;
  bottom: 1.25rem;
}

.movieInfo {
  opacity: 0;
  background: rgba(7, 5, 14, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s ease-in-out;
  border-radius: 0.625rem;
}

.hoards {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  z-index: 1;
}

.ageBadge {
  width: 1.5rem;
  height: 1rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.25rem;
  font-size: 0.65625rem;
  color: rgba(211, 211, 211, 0.6);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconBtn {
  background: transparent;
  position: relative;
}
.iconBtn svg {
  fill: white;
}
.iconBtn::after {
  content: "Hello";
  padding: 5px;
  position: absolute;
  color: white;
  background: #1F1B2E;
  display: none;
  top: -100%;
  transform: translateY(-25%);
  border-radius: 5px;
  left: 0;
}
.iconBtn:hover::after {
  display: inline;
}

.dislikeBtn {
  background: transparent;
}

.movieCardInfo {
  margin-top: 0.5rem;
}

.movieCardName {
  color: rgb(217, 215, 224);
  font-size: 0.9375rem;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.movieCardType {
  color: rgb(234, 0, 61);
  font-size: 0.8125rem;
  font-weight: 400;
}

.movieCard.small:hover .movieCardImageCont {
  transform: scale(1.05);
}
.movieCard.small:hover .movieCardImageCont .movieInfo {
  opacity: 1;
}

.movieCard.series:hover .movieCardImageCont {
  transition: all 0.1s ease;
  transform: scale(1.05);
}
.movieCard.series:hover .seriesName {
  color: white;
}

.seriesInfo {
  margin-top: 0.75rem;
}

.seriesName {
  color: rgb(217, 215, 224);
  transition-duration: 0.4s;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-weight: 500;
  font-style: normal;
}

.seriesDescription {
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 400;
  font-style: normal;
  max-height: 4rem;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
  color: rgb(165, 161, 178);
  margin-top: 0.25rem;
}

.seriesLength {
  margin-right: 0.625rem;
  color: rgb(165, 161, 178);
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 400;
  font-style: normal;
  height: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 0.25rem;
}/*# sourceMappingURL=MovieCard.module.css.map */