.dropDownLayout {
  position: absolute;
  top: 100%;
  width: 100%;
}

.filter {
  padding: 16px;
  margin-top: 4px;
  background-color: #312B45;
  border-radius: 4px;
}

.big {
  width: 630px;
}