@use '../../styles/functions' as fn;

.double {
  column-count: 2;
  column-fill: auto;
  column-gap: fn.toRem(24px);
}

.title {
  color: #fff;
  font-size: fn.toRem(15px);
  font-weight: 700;
  line-height: fn.toRem(20px);
  margin-bottom: fn.toRem(8px);
}

.linksList:not(:first-child) {
  margin-top: fn.toRem(24px);
}

.item {
  font-size: fn.toRem(15px);
  font-weight: 400;
  line-height: fn.toRem(20px);

  &:not(:first-child) {
    margin-top: fn.toRem(8px);
  }

  a {
    color: hsla(0, 0%, 100%, 0.48);

    &:hover {
      color: #ffffff;
    }
    &:not(:hover):not(:active) {
      transition-duration: 0.4s;
    }
  }
}
