.double {
  column-count: 2;
  column-fill: auto;
  column-gap: 24px;
  height: 304px;
}

.title {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 8px;
}

.linksList:not(:first-child) {
  margin-top: 24px;
}

.item {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;

  &:not(:first-child) {
    margin-top: 8px;
  }

  a {
    color: hsla(0, 0%, 100%, 0.48);
  }
}
