.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: transparent;
  padding-left: 12px;
  padding-right: 12px;
  height: 66px;
  z-index: 1;
}

.headerLogo {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: stretch;
  margin-left: 32px;
}

.menuItem {
  display: flex;
  align-items: center;
}

.menuItem:not(:first-child) {
  padding-left: 16px;
}

.menuItemText {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: hsla(0, 0%, 100%, 0.48);

  &:hover {
    color: hsla(0, 0%, 100%, 1);
  }

  &:not(:hover):not(:active) {
    transition-duration: 0.4s;
  }
}

.topWide {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  justify-content: flex-end;
}

.additionalButton {
  display: flex;
  align-items: center;
}

.buttonMobile {
  display: none;
  align-items: center;
}

.headerSearch {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.notifyLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  margin-left: 12px;

  svg {
    fill: rgba(255, 255, 255, 0.48);
    transition-duration: 0.4s;

    &:hover {
      fill: #fff;
    }
  }
}

.profile {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.language {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

@media screen and (max-width: 1160px) {
  .menu,
  .headerSearch,
  .additionalButton {
    display: none;
  }

  .buttonMobile {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .notifyLink,
  .headerAvatar,
  .language {
    display: none;
  }
}
