.toggleLang {
  position: relative;
}

.toggleLangText {
  position: absolute;
  color: #ffffff;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  pointer-events: none;
  margin-top: -2px;
}
