.MoviePageContent {
  section {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.moviePlayer {
  width: 62.5%;
  padding-right: 32px;
  position: sticky;
  top: 32px;
}

.movieInfomation {
  width: 37.5%;
}

.headerBar {
  padding-top: 20px;
}
