@use '../../styles/functions' as fn;

.list {
  position: relative;

  &:last-child {
    padding-left: fn.toRem(16px);
  }
}

.gutter {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 1px;
  background-color: hsla(0, 0%, 100%, 0.16);
}

.stripe {
  height: fn.toRem(20px);
  transform: translateY(0);
  background-color: #fff;
  width: 1px;
  transition: transform 0.2s, width 0.4s, height 0.4s;
  will-change: transform, width, height;
}
