.btn {
  display: inline-block;
  background: #1f1b2e;
  color: white;
  padding: 10px;
  transition-duration: 80ms;

  &_withSubText {
    padding: 5px 10px;
  }

  &:hover {
    background-color: #2e2844;
  }
}

.btnContent {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.textContainer {
  margin-left: 5px;
}

.subText {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.72);
}

.square {
  border-radius: 8px;
}

.circle {
  border-radius: 50px;
}
