@use '@styles/variables' as var;
@use '../../styles/functions' as fn;

.btn {
  display: inline-block;
  background: #1f1b2e;
  color: var.$white;
  padding: fn.toRem(10px);
  transition: 0.3s;

  &_withSubText {
    padding: fn.toRem(5px) fn.toRem(10px);
  }
}

.btn.footer.lightgray {
  color: #a5a1b2;
  background: #312b45;
}

.btnContent {
  display: flex;
  font-weight: 500;
  font-size: fn.toRem(14px);
  align-items: center;
  justify-content: center;
}

.image {
  border-radius: fn.toRem(8px);
}

.btnContent:has(img) {
  .textContainer {
    margin-left: fn.toRem(5px);
  }
}

.subText {
  font-size: fn.toRem(10px);
  color: rgba(var.$white, 0.72);
}

.square {
  border-radius: fn.toRem(8px);
}

.circle {
  border-radius: fn.toRem(50px);
}

.actor {
  padding: fn.toRem(6px);
  background-color: rgba(var.$white, 0.16);
}

.account {
  background: transparent;
  border: 2px solid rgba(var.$white, 0.48);
  padding: fn.toRem(12px);
}

.link:has(.accountLinks) {
  display: block;

  .accountLinks {
    background: #312b45;
    display: block;
    min-height: 108px;
    padding: fn.toRem(16px);
  }

  .btnContent {
    min-height: 76px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .textContainer {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
  }
  
  .mainText {
    font-size: fn.toRem(15px);
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
  }

  .subText {
    font-size: fn.toRem(13px);
    line-height: 16px;
    font-weight: 500;
    font-style: normal;
    max-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: fn.toRem(4px);
  }
}

.actorName {
  color: rgba(var.$white, 0.48);
  font-size: fn.toRem(13px);
  margin-top: fn.toRem(8px);
  text-align: center;
  display: inline;
  transition: 0.3s;
}

.genres {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn:has(.genres) {
  background: transparent;
  padding: fn.toRem(16px) fn.toRem(8px);
  border: 1px solid rgba(var.$white, 0.32);
  width: 108px;

  .textContainer {
    margin: 0;
  }

  .mainText {
    margin-top: fn.toRem(8px);
    font-size: fn.toRem(13px);
    line-height: 16px;
    font-weight: 500;
    font-style: normal;
    height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    .btn:has(.genres) {
      background-color: #7e798f;
    }

    .btn.account {
      border-color: var.$white;
      box-shadow: 0 0 13px -5px var.$white;
    }

    .btn.footer {
      background-color: #2e2844;
    }

    .btn.accountLinks {
      background-color: #403764;
    }

    .actor {
      background-color: rgba(var.$white, 0.23);
    }

    .actorName {
      color: var.$white;
    }
  }
}
