.btn {
  display: inline-block;
  background: #1f1b2e;
  color: white;
  padding: 10px;
  transition-duration: 80ms;
  transition: .3s;

  &_withSubText {
    padding: 5px 10px;
  }
}

.btnContent {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  img{
    border-radius: 8px;
  }
}

.textContainer {
  margin-left: 5px;
}

.subText {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.72);
}

.square {
  border-radius: 8px;
}

.circle {
  border-radius: 50px;
}

.actorName{
  color: rgba(255,255,255,.48);
  font-size: 13px;
  margin-top: 8px;
  text-align: center;
  display: inline;
  transition-duration: 80ms;
  transition: .3s;
}

.link{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  &:hover{
    .btn{
      background-color: #2e2844;
    }
    .actor{
      background-color: rgba(255, 255, 255, .23) !important;
    }
    .actorName{
      color: white;
    }
  }
}