@use '@styles/functions' as fn;

$gap: fn.toRem(10px);

.movieItem {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  column-gap: fn.toRem(15px);
}

.names {
  display: flex;
  flex-direction: column;
  gap: $gap;
  font-weight: 500;
}

.controls {
  display: flex;
  gap: $gap;
}

@media (max-width: 600px) {
  .controls {
    flex-direction: column;
  }
}

@media (max-width: 380px) {
  .movieItem {
    grid-template-columns: min-content 1fr;
    row-gap: fn.toRem(10px);
  }

  .controls {
    flex-direction: row;
    justify-self: center;
    grid-row: 2/3;
    grid-column: 1/3;
  }
}
