.slider {
  position: relative;
  .container {
    overflow: hidden;

    .track {
      display: flex;

      .item {
        height: 100%;
      }
    }
  }

  .button {
    background-color: transparent;
    position: absolute;
    height: 100%;
    top: -50%;
    transform: translateY(50%);

    &:hover {
      svg {
        fill: #F1F1F3;
      }
    }
  }

  .smallButtonLeft {
    left: -15px
  }

  .bigButtonLeft {
    left: -30px
  }

  .smallButtonRight {
    right: -15px
  }

  .bigButtonRight {
    right: -30px
  }
}
