.slider {
  position: relative;
  .container {
    overflow: hidden;

    .track {
      display: flex;
      transition: 0.6s;

      .item {
        height: 100%;

        &:nth-child(3n + 1) {
          background-color: red;
        }

        &:nth-child(3n + 2) {
          background-color: green;
        }

        &:nth-child(3n + 3) {
          background-color: blue;
        }
      }
    }
  }

  .button {
    background-color: transparent;
    position: absolute;
    top: -50%;
    transform: translateY(50%);
  }

  .smallButtonLeft {
    left: -15px
  }

  .bigButtonLeft {
    left: -30px
  }

  .smallButtonRight {
    right: -15px
  }

  .bigButtonRight {
    right: -30px
  }
}
