@font-face {
  font-family: 'iviSans';
  font-weight: 700;
  font-style: normal;
  src: url('../../assets/fonts/iviSans-Bold.woff2');
}

@font-face {
  font-family: 'iviSans';
  font-weight: 500;
  font-style: normal;
  src: url('../../assets/fonts/iviSans-Medium.woff2');
}

@font-face {
  font-family: 'iviSans';
  font-weight: 400;
  font-style: normal;
  src: url('../../assets/fonts/iviSans-Regular.woff2');
}
<<<<<<< HEAD

* {
  font-family: iviSans, Arial, Helvetica, "Helvetica Neue", FreeSans, sans-serif;
}

body{
  background: #100E19;
  color: #fff;
}
=======
>>>>>>> 0f4280e413a5fb0955c5d7ee4fd3d55ac387938d
